{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
</br></br>
<center>
	<img class="middle" src="{{ STATIC_URL }}image/logo.png" >
	<br><hr style="width:190px;"><h3>Chapull Market</h3><hr style="width:190px;">This project developed for Comp 461.<br>developed by Burak Şahin | Ece Kıvman | Elif Tuygan<br></a><br>
	<a href="/"><img class="middle" src="{{ STATIC_URL }}image/cmarket.png"  height="35"><br>
	<a href="http://www.bilgi.edu.tr/" target="_blank"><img class="middle" src="{{ STATIC_URL }}image/bilgi.png"  longdesc="http://www.bilgi.edu.tr/" height="35"></a><br>
	<a href="http://www.python.org/"   target="_blank"><img class="middle" src="{{ STATIC_URL }}image/python.png" longdesc="http://www.python.org/" height="35"></a>
	<a href="https://www.djangoproject.com/" target="_blank"><img class="middle" src="{{ STATIC_URL }}image/django.png" longdesc="https://www.djangoproject.com/" height="35"></a>
</center>
		
{% endblock %}
