{% extends "base.html" %}
{% block title %}Sign-Up{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1> Error:</h1>
	<h2> You are all ready has an account...</h2>
	<h4><a href="/">Back...</a><h4>
{% else %}
<br><br><br><br>
 <table width="100%px" height="160" border="0">
	<tr>
		<td width="35%"> 
				<h2>Sign-Up</h2>{{ error_info }}
				<form style="display:inline;" action="/sign_up/" method="post" id="f_register">
					{% csrf_token %}
					Username:
					<input autocomplete="off" type="text" name="s_username" maxlength="20" size="20" class="form-control" placeholder="username"/>
					E-mail:
					<input autocomplete="off" type="text" name="email" maxlength="60" size="60" class="form-control" placeholder="e-mail" />
					Password:
					<input autocomplete="off" type="password" name="s_pass" maxlength="20" size="20" class="form-control" placeholder="password"/>
					Password Confirmation:
					<input autocomplete="off" type="password" name="s_passr" maxlength="20" size="20"class="form-control" placeholder="password"/>
					<p style="line-height: 5px;">
					<input type="submit" value="Sign up" class="btn btn-default"/>
					</p>
				</form>
				
		</td>	
		<td><center>
			<img src="{{ STATIC_URL }}image/newuser.png" width="200" height="200"></center>
		</td>
		<td width="45%" align="right">
			<h4>
				Exchange your electronic devices.<img class="middle" src="{{ STATIC_URL }}image/banner1.png" width="170">offers a new way to recycle devices.
			</h4>
		</td>
	</tr>
</table>     
{% endif %}
{% endblock %}